<section class="page-title">
  <h1>Contact</h1>
</section>

<%= render "shared/separator" %>

<section class="contact-points">
  <p>Some address, Berlin</p>
  <p>Tel. +#########</p>
  <p>Email bikeriders@example.com</p>
</section>
