<section class="page-title">
  <h1>Contact</h1>
</section>
<div class="separator-wrapper">
    <div class="separator line-separator">
      <i class="small-bike fa fa-bicycle" aria-hidden="true"></i>
    </div>
</div>
<section class="contact-points">
  <p>Some address, Berlin</p>
  <p>Tel. +#########</p>
  <p>Email bikeriders@example.com</p>
</section>
