<div class="index-bg mobile-tablet-hidden">
  <div class="index-bg-cover">
      <div class="center-title">
        <h1>Welcome to Bike Berlin</h1>
        <div class="hide-separator-on-small">
          <%= render "shared/separator" %>
        </div>
        <main class="container mobile-hidden">
          <h2>The Best Second-Hand Bicycles in Berlin</h2>
          <div class="row">
            <div class="col-md-4 left-column">
              <h1><i class="fa fa-bicycle" aria-hidden="true"></i></h1>
              <h3>Buy</h3>
            </div>
            <div class="col-md-4 middle-column">
              <h1><i class="fa fa-bicycle" aria-hidden="true"></i></h1>
              <h3>sell</h3>
            </div>
            <div class="col-md-4 right-column">
              <h1><i class="fa fa-bicycle" aria-hidden="true"></i></h1>
              <h3>repair</h3>
            </div>
          </div>
        </main>
      </div>
  </div>
</div>

<div class="index-mobile-bg desktop-hidden">
  <div class="index-bg-cover">
      <div class="center-title">
        <h1>Welcome to Bike Berlin</h1>
        <div class="hide-separator-on-small">
          <%= render "shared/separator" %>
        </div>
      </div>
  </div>
</div>
<main class="container desktop-hidden">
  <h2>The Best Second-Hand Bicycle Shop in Berlin</h2>
  <div class="row">
    <div class="col-md-4 left-column">
      <h1><i class="fa fa-bicycle" aria-hidden="true"></i></h1>
      <h3>Buy</h3>
    </div>
    <div class="col-md-4 middle-column">
      <h1><i class="fa fa-bicycle" aria-hidden="true"></i></h1>
      <h3>sell</h3>
    </div>
    <div class="col-md-4 right-column">
      <h1><i class="fa fa-bicycle" aria-hidden="true"></i></h1>
      <h3>repair</h3>
    </div>
  </div>
</main>
<%#= image_tag("bike1.jpg", class: "img-responsive main-pic") %>
