<div class="index-mobile-bg">
  <div class="index-bg-cover">
      <div class="center-title">
        <h1>Repair your bicycle</h1>
        <div class="hide-separator-on-small">
          <%= render "shared/separator" %>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 col-sm-6 col-sm-offset-3">
      <h4 class="thin-bottom">Service</h4>
      <h5>Opening hours:</h5>
      <p>Mon-Fri: 10-18</p>
      <p>Sa: 10-16</p>
      <h4 class="thin-bottom">Address</h4>
      <p>Examplestr. ##, ##### Berlin</p>
    </div>
  </div>
</div>
