<div class="panel panel-default">
  <div class="panel-body">
    <p>Thank you. We have recieved your message and will respond as soon as possible.</p>
    <%= link_to "Home Page", static_pages_index_path %>
  </div><!-- panel-body -->
</div><!-- panel -->
