@import "helpers/variables.scss";

%main-pic {
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto;
}

%center_auto_margin {
  margin: 0 auto;
}

%main_font_family {
  font-family: 'Oswald', sans-serif;
}

%hover_transition {
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -o-transition: .5s;
  -ms-transition: .5s;
  transition: .5s;
}

%hover_change_color_link {
  @extend %hover_transition;
  &:hover {
    color: $white;
  }
}

%open_dropdown_background_color {
  &:focus, &:hover {
    background-color: $background_color_nav_foot;
    color: $white;
  }
}

%previous_change_background {
  @extend %hover_transition;
  background-color: transparent;
  color: $black;
}

%index-bg {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%title-bg {
  height: 300px;
  margin-top: 80px;
  @extend %index-bg;
}

%scale-product {
  &:hover {
    transform: scale(1.1, 1.1);
  }
}
