$sticky_footer_height: 100px;
$background_color_nav_foot: #990000;
$black: #000000;
$white: #FFFFFF;
$thin_border: 1px solid rgba(0, 0, 0, 0.3);
$big_margin: 50px;


$extra_small_width: 320px;
$small_width: 460px;
$tablet_width: 768px;
$medium_desk_width: 992px;
$large_desk_width: 1024px;
