// Place all the styles related to the payments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.stripe-button-el span {
  background: #990000 !important;
  background-image: -webkit-linear-gradient(top, #ad3232, #a31919, #990000) !important;
  background: -moz-linear-gradient(top, #990000,#890000,#7a0000) !important;
  background: linear-gradient(top, #990000,#890000,#7a0000) !important;
  box-shadow: insent 0.3px 0.3px 0 rgba(255,255,255,0.5)
}
