// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import "helpers/variables.scss";
@import "helpers/mixins.scss";
@import "helpers/placeholders.scss";

.special-offer-wrapper {
  width: 80%;
  @extend %center_auto_margin;
  .offer-title-wrapper {
    text-align: center;
    text-transform: capitalize;
    @include flex_special_offer;
    @include borders_special_offer;
    @extend %main_font_family;
    .btn-default {
      @extend %center_auto_margin;
      text-transform: capitalize;
      @extend %main_font_family;
    }
  }
}

.carousel-inner {
  .item {
    height: 250px;
    width: 100%;
    img {
    height: 100%;
    width: 100%;
    }
  }
}

.btn.btn-default.close-offer {
  margin: 0 auto;
}

.new-form,
.edit-project-form, {
  text-align: center;
}
.show-picture {
  height: 600px;
  width: 100%;
}
.product-holder {
  text-align: left;
}

.product-wrapper {
  width: 80%;
  @extend %center_auto_margin;
}

.product-img-wrapper {
  text-align: center;
  max-height: 220px;
  width: 100%;
  overflow: hidden;
}

.thin-bottom {
  border-bottom: $thin_border;
}

.border {
  border: solid;
}

.pics {
  height: 220px;
  width: 100%;
  border-radius: 5px;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
