// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700);
@import "helpers/variables.scss";
@import "helpers/mixins.scss";
@import "helpers/placeholders.scss";

.page-title.title-down {
  padding-top: 100px;
}
.special-offer-wrapper {
  width: 80%;
  @extend %center_auto_margin;
  .offer-title-wrapper {
    text-align: center;
    text-transform: capitalize;
    @include flex_special_offer;
    @include borders_special_offer;
    @extend %main_font_family;
    .btn-default {
      @extend %center_auto_margin;
      text-transform: capitalize;
      @extend %main_font_family;
    }
  }
}

.carousel-inner {
  .item {
    height: 250px;
    width: 100%;
    img {
    height: 100%;
    width: 100%;
    }
  }
}

.btn.btn-default.close-offer {
  margin: 0 auto;
}

.new-form,
.edit-project-form, {
  text-align: center;
}
.show-wrapper {
  padding-top: 80px;
  letter-spacing: 0.1em;
  font-family: 'Roboto Slab', serif;
}
.show-wrapper p {
  line-height: 2em;
}
.show-picture {
  height: 400px;
  width: 100%;
}
.show-title {
  text-align: left;
  border-bottom: $thin_border;
}
.product-reviews {
  width: 90%;
  margin: 0 auto;
}
.product-holder {
  padding-top: 10px;
  padding-bottom: 10px;
  p {
    font-family: 'Roboto Slab', serif;
  }
}

.product-wrapper {
  width: 100%;
  @extend %center_auto_margin;
  transition: 400ms;
  @extend %scale-product;
}

.product-img-wrapper {
  text-align: center;
  max-height: 220px;
  width: 100%;
  overflow: hidden;
}

.thin-bottom {
  border-bottom: $thin_border;
}

.comment {
  margin: 5px;
}
.border {
  border: solid;
}

.pics {
  height: 220px;
  width: 100%;
  border-radius: 5px;
}

.row.is-flex {
  display: flex;
  flex-wrap: wrap;
  /*margin-left: 0px;
  margin-right: 0px;*/
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}
