// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import "helpers/variables.scss";
@import "helpers/mixins.scss";
@import "helpers/placeholders.scss";

/*picture on home page*/
.main-pic {
  @extend %main-pic;
}
.row {
  margin-top: $big_margin;
  margin-bottom: $big_margin;
}
.left-column {
  border-right: $thin_border;
  @include change_border_on_columns;
}
.middle-column {
  @include change_border_on_columns;
}
.right-column {
  border-left: $thin_border;
  @include change_border_on_columns;
}
.panel-default {
  width: 80%;
  margin: 0 auto;
  @media (min-width: $tablet_width) {
    width: 60%;
  }
  @media (min-width: $large_desk_width) {
    width: 40%;
  }
}
.panel-body {
  text-align: center;
}

.about-title-bg {
  background-image: url("http://res.cloudinary.com/dnkyfvpgn/image/upload/c_scale,h_1080,w_1920/v1468330875/white-737190_1920_ifziax.jpg");
  @extend %title-bg;
}

.index-bg {
  min-height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding-bottom:
   $sticky_footer_height;
  background-image: url("bike1.jpg");
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.index-bg-cover {
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.75),rgba(255,255,255,0.2));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.75), rgba(255,255,255,0.2));
  background: linear-gradient(top, rgba(255,255,255,0.75), rgba(255,255,255,0.2));
}

.index-mobile-bg  {
  margin-top: 80px;
  position: relative;
  height: 300px;
  width: 100%;
  background-image: url("bike1.jpg");
  background-attachment:fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-title-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  background: -webkit-linear-gradient(top,rgba(255,255,255,0.75),rgba(255,255,255,0.2));
  background: -moz-linear-gradient(top, rgba(255,255,255,0.75), rgba(255,255,255,0.2));
  background: linear-gradient(top, rgba(255,255,255,0.75), rgba(255,255,255,0.2));
}
.about-text {
  text-align: justify;
  p {
    margin:5px;
  }
}
.shop-pic {
  height: 250px;
  width: 100%;
  margin: 0 auto;
}
.transparent-cover {
  background-color: $white;
  opacity: 0.7;
  width: 100%;
  min-height: 100%;
}
.greeting {
  text-align: left;
}
.greeting-left {
  text-align: right;
}
/*Typography*/
h1 {
  @extend %main_font_family;
  text-align: center;
  color: $black;
}

h2 {
  @extend %main_font_family;
  text-align: center;
  color: $black;
}

h3 {
  @extend %main_font_family;
  text-align: center;
  text-transform: uppercase;
  color: $black;
}

h4 {
  @extend %main_font_family;
  color: $black;
}

.greeting,
.greeting-left {
  @extend %main_font_family;
  border-bottom: $thin_border;
}
.about-text {
  font-family: 'Roboto Slab', serif;
}
