// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Candal);
@import "helpers/variables.scss";
@import "helpers/mixins.scss";
@import "helpers/placeholders.scss";

/*picture on home page*/
.main-pic {
  @extend %main-pic;
}

.row {
  margin-top: $big_margin;
  margin-bottom: $big_margin;
}
.left-column {
  border-right: $thin_border;
  @include change_border_on_columns;
}
.middle-column {
  @include change_border_on_columns;
}
.right-column {
  border-left: $thin_border;
  @include change_border_on_columns;
}
.panel-default {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.panel-body {
  text-align: center;
}

/*Typography*/
h1 {
  @extend %main_font_family;
  text-align: center;
  color: $black;
}

h2 {
  @extend %main_font_family;
  text-align: center;
}

h3 {
  @extend %main_font_family;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  @extend %main_font_family;
  color: $black;
}
