<div class="col-sm-3 col-sm-offset-0 col-xs-10 col-xs-offset-1 offer-title-wrapper">
  <h3>see special offer</h3>
  <h3>just today</h3>
  <a class="btn btn-default" href="#" role="button">open</a>
</div>
