<div class="col-sm-3 offer-title-wrapper">
  <h3>see special offer</h3>
  <h3>just today</h3>
  <a id="sp-offer-btn" class="btn btn-default" href="products/special_offers" role="button">open</a>
</div>
