<h1 class="page-title">Editing Product</h1>

<div class="edit-project-form">
  <%= render 'form' %>
</div>

<%= link_to 'Show', @product, class: "scaffolded-link" %>
<%= link_to 'Back', products_path, class: "scaffolded-link" %>
