<h1 class="page-title">still not public</h1>
<%= render "shared/separator" %>
<div class="container">
  <div class="row is-flex">
    <!-- renders _product.html.erb for each product -->
    <%= render @products %>

  </div> <!-- /row -->
</div><!-- /container -->
